@font-face {
  font-family: iransans;
  src: url(../src/fonts/IRANSansWeb\(FaNum\)_Bold.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: iransans;
  background-color: rgb(253, 196, 196);
}
.container {
  box-shadow: 0 0 5px rgb(116, 116, 116);
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
  margin: 5px;
  margin-top: 30px;
}

.box1 {
  background-color: orange;
  padding: 30px;
  margin: auto;
  width: 500px;
}
h1 {
  margin-bottom: 20px;
}
#input {
  width: 80%;
  padding: 10px;
  border-radius: 7px;
  border: none;
  outline: none;
  font-family: iransans;
}
#btn {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
  font-family: iransans;
}
.li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  transition: all 0.5s;
  border-radius: 7px;
  margin: 10px;
  background-color: rgb(245, 245, 245);
}
.li:hover {
  background-color: gray;
  border-radius: 7px;
}
.did {
  background-color: gray;
}
.icons{
  display: flex;
  gap: 10px;
  align-items: center;
}
.check {
  background-color: wheat;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
}
.trash {
  background-color: red;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
}
